body {
  text-align: center;
  color: #8D99AE
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.title{
	color: #84596B
}
.question{
	margin: 0 300px;
	padding-top: 30px;
}
.answer{
	border: 3px solid black; 
	padding: 10px 0;
	margin: 10px 0;
	color: white;
	border-radius: 15px;
	background-color: #84596B;

}
.score{
	position: fixed;
    bottom: 0;
    left: 30px;
    height: 60px;
    width: 150px;
    font-size: : 20px;
    color: white;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    border-bottom: 0px;
    background-color: #84596B;
   

}
.correct{
	border: 3px solid black; 
	padding: 10px 0;
	margin: 10px 0;
	color: white;
	border-radius: 15px;
	background-color: green;
}
.incorrect{
	border: 3px solid black; 
	padding: 10px 0;
	margin: 10px 0;
	color: white;
	border-radius: 15px;
	background-color: red;
}