body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800;
  margin: 0 auto;
}
.question{
	margin: 0 300px;
	padding-top: 30px;
}
.answer{
	border: 5px solid black; 
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 15px;

}
.score{
	position: fixed;
    bottom: 0;
    left: 30px;
    height: 60px;
    width: 150px;
    border: 5px solid black;
    border-bottom: 0px;
    text-align: center;
    border-top-right-radius:25px;
    border-top-left-radius:25px;

}